@{
    ViewBag.Title = "Configuration";
}

<h2>Configuration</h2>
<div>
    @Html.ActionLink("Authenticate Twitter", "AuthenticateTwitter")
</div>
<div>
    @Html.ActionLink("Authenticate Facebook", "AuthenticateFacebook")
</div>
